.app-95 {
  height: 95vh !important;
}

body {
	background-image: url('../media/background1.jpg');
	background-size: cover;
}

.sunset-bad {
	background-image: url('../media/sunset_bad.jpg');
}

.vcenter {
	display: inline-block;
    vertical-align: middle;
    float: none;
}